:root {
    --font1: "Roboto Condensed", sans-serif;
    --blue: #004aad;
    --purple: #cb6ce6;
    --purple2: #9E5AFF;
}

body {
    background: var(--purple);
}

main {
    background: -webkit-linear-gradient(45deg, var(--blue), var(--purple));
    overflow: hidden;
}

#container {
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    min-height: 90vh;
    margin: 5vh 5vw;
    }

.widget {
    margin: 1rem;
    min-height: 280px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-10%);
    opacity: 0;
    animation: drop-in .5s;
    animation-fill-mode: forwards;
    box-shadow: 5px 5px 20px black;
    border-radius: 36px;
    transition: box-shadow .5s;
    overflow: hidden;
}

#name-box {
    flex: 1 1 100%;
}

h1 {
    font-family: var(--font1);
    color: white;
    font-size: 60px;
    font-weight: 100;
}
h2 {
    font-family: var(--font1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 37px;
    font-weight: 200;
}

#about-me {
    flex: 1 0 220px;
}

#about-me-text {
    flex: 1 0 220px;
}

.widget-icon {
    width: 80px;
    height: auto;
}


#contact-me {
    flex: 1 1 240px;
}

#skills-box {
    flex: 1 1 330px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    font-family: var(--font1);
    color: white;
    font-size: 45px;
    font-weight: 100;
}

p {
    font-family: var(--font1);
    color: white;
    font-size: 25px;
    font-weight: 100;
    margin-left: 5%;
    margin-right: 5%;
}

.highlight {
    color: yellow;
}

h4 {
    font-family: var(--font1);
    color: white;
    font-size: 60px;
    font-weight: 100;
    flex: 1 1 100%;
}

.skill {
    flex: 1 0 30%;
}

.skill-icons {
    width: 70px;
    height: auto;
    flex: 1 0 100px;
}

h5 {
    font-family: var(--font1);
    color: white;
    font-size: 30px;
    font-weight: 100;
}


@keyframes drop-in {
    from { 
        transform: translateY(-10%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

.swap-gradient {
    animation: swapGradient ease 2s;
    animation-fill-mode: forwards;
}

@keyframes swapGradient {
    0% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    } 50% {
        background-position:100% 100%;
        background-size: 400% 400%;
    } 100% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    }
}

.swipe-left {
    transform: translateX(0%);
    animation: swipeLeft ease 3s;
    animation-fill-mode: forwards;
}

@keyframes swipeLeft {
    0% {
        transform: translateX(0%);
        opacity: 1;
    } 50% {
        transform: translateX(100%);
        opacity: 0;
    } 100% {
        transform: translateX(200%);
    }
}

.one {
    animation-delay: .1s;
}
.two {
    animation-delay: .2s;
}
.three {
    animation-delay: .3s;
}
.four {
    animation-delay: .4s;
}
.five {
    animation-delay: .5s;
}
.six {
    animation-delay: .6s;
}

.widget:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 7px 7px 40px black;
    cursor: pointer;
}

@media only screen and (min-width: 849px){
    #about-me {
        flex: 1 0 350px;
    }
    
    #about-me-text {
        flex: 1 0 350px;
    }

    #contact-me {
        flex: 1 1 250px;
    }
    
    #skills-box {
        flex: 1 1 450px;
    }
}

@media only screen and (min-width: 1163px){
    #name-box {
        flex: 1 1 450px;
    }

    #about-me {
        flex: 1 0 250px;
    }
    
    #about-me-text {
        flex: 1 0 250px;
    }
}