:root {
    --font1: "Roboto Condensed", sans-serif;
    --font2: "Orbitron", sans-serif;
    --blue: #004aad;
    --purple: #cb6ce6;
    --purple2: #9E5AFF;
}

body {
    background: white
}

main {
min-height: 100vh;
background: -webkit-linear-gradient(45deg, var(--blue), var(--purple));
overflow: hidden;
}

div {
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    overflow: hidden;
    opacity: 1;
    transform: scale(100%);
}

.zoom-away {
    animation: zoom 2s;
    animation-fill-mode: forwards;
}

@keyframes zoom {
    from {
        opacity: 1;
        transform: scale(100%);

    }
    to {
        opacity: 0;
        transform: scale(10000%);
    }
}

h1 {
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 900;
    font-size: calc(15vw + 15vh);
    margin-right: auto;
    margin-left: auto;
    background: -webkit-linear-gradient(var(--blue), var(--purple));
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    animation: gradient 7s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 50% 0%;
    } 50% {
        background-position: 50% 100%;
    } 100% {
        background-position: 50% 0%;
    }

}

h2 {
    font-family: var(--font2);
    font-weight: 900;
    font-size: calc(3vw + 3vh);
    margin-top: 100px;
}