:root {
    --font1: "Roboto Condensed", sans-serif;
    --font2: "Orbitron", sans-serif;
    --blue: #004aad;
    --purple: #cb6ce6;
    --purple2: #9E5AFF;
    --yellow: #fff42c;
}

body {
    background: var(--purple2);
}

main {
    background: -webkit-linear-gradient(45deg, var(--blue), var(--purple));
    overflow: hidden;
}

.container {
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 90vh;
    margin: 5vh 5vw;
    }


header {
    flex: 1 1 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    animation: fade-in ease 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-family: var(--font1);
    color: white;
    font-size: 60px;
    font-weight: 100;
}

#bio {
    text-align: center;
    align-content: center;
}

#bio-text {
    font-family: var(--font1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 37px;
    font-weight: 200;
}

#widgets {
    margin-top: 1rem;
    flex: 1 1 240px;
    display: flex;
    flex-wrap: wrap;
}

.widget {
    margin: 1rem;
    flex: 1 1 250px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: drop-in .5s;
    animation-fill-mode: forwards;
    transform: translateY(-10%);
    opacity: 0;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
    border-radius: 36px;
    transition: box-shadow .5s;
}

#one {
    animation-delay: .1s;
}
#two {
    animation-delay: .2s;
}
#three {
    animation-delay: .3s;
}
#four {
    animation-delay: .4s;
}
#five {
    animation-delay: .5s;
}
#six {
    animation-delay: .6s;
}

@keyframes drop-in {
    from { 
        transform: translateY(-10%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    font-family: var(--font1);
    color: white;
    font-size: 40px;
    font-weight: 200;
    transform: translateY(-120%);
    transition: transform ease .5s;
}

.widget-icons {
    width: 120px;
    height: auto;
    transform: translateY(40%);
    opacity: .08;
    transition: opacity ease .5s;
    transition: transform ease .5s;
}

.arrow {
    width: 55px;
    margin-left: 0;
    filter: brightness(150%);
}

.widget:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 7px 7px 40px black;
    cursor: pointer;
}
.widget:hover .arrow {
    animation: point 1s ease infinite;
}
.widget:hover .widget-icons {
    transform: translateY(0);
    opacity: 1;
}
.widget:hover h2 {
    transform: translateY(0);
    transform: scale(120%);
}

@keyframes point {
    0% {
        margin-left: 0;
    } 50% {
        margin-left: 50px
    } 100% {
        margin-left: 0;
    }
}

@media only screen and (min-width: 560px) {
    #widgets {
        flex: 1 0 460px;
    }
}

@media only screen and (min-width: 805px) {
    header {
        position: sticky;
        top: 0;
        height: 90vh;
    }
}

@media only screen and (min-width: 965px) {
    #widgets {
        flex: 1 0 532.25px;
    }
}

@media only screen and (min-width: 1150px) {
    #widgets {
        flex: 1 0 770px;
    }
}