:root {
    --font1: "Roboto Condensed", sans-serif;
    --blue: #004aad;
    --purple: #cb6ce6;
    --purple2: #9E5AFF;
}

body {
    background: var(--purple);
}

main {
    background: -webkit-linear-gradient(45deg, var(--blue), var(--purple));
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.swap-gradient {
    animation: swapGradient ease 2s;
    animation-fill-mode: forwards;
}

@keyframes swapGradient {
    0% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    } 50% {
        background-position:100% 100%;
        background-size: 400% 400%;
    } 100% {
        background-position: 0% 0%;
        background-size: 100% 100%;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 90vh;
    margin: 5vh 5vw;
    max-width: 1327px;
    }

.swipe-right {
    transform: translateX(0%);
    animation: swipeRight ease 3s;
    animation-fill-mode: forwards;
}

@keyframes swipeRight {
    0% {
        transform: translateX(0%);
        opacity: 1;
    } 50% {
        transform: translateX(-125%);
        opacity: 0;
    } 100% {
        transform: translateX(-250%);
    }
}


header {
    flex: 1 1 240px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    animation: fade-in ease 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    font-family: var(--font1);
    color: white;
    font-size: 60px;
    font-weight: 100;
}

#bio {
    text-align: center;
    align-content: center;
}

#bio-text {
    font-family: var(--font1);
    color: rgba(255, 255, 255, 0.4);
    font-size: 37px;
    font-weight: 200;
}

#extra-code {
    height: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--font1);
    font-weight: 100;
    font-size: 20px;
    line-height: 1.3;
}

.above {
    position: relative;
    bottom: 230px
}

.below {
    position: relative;
    top: 30px
}

#html-tag {
    margin-left: 20px;
    opacity: 0;
    transition: opacity 1s;
}

#head-tag {
    margin-left: 40px;
    opacity:0;
    transition: opacity 1s;
    transition-delay: .1s;
}

#title {
    margin-left: 60px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .2s;
}

#head-tag-close {
    margin-left: 40px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .3s;
}

#body-tag {
    margin-left: 40px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .4s;
}

#header-tag {
    margin-left: 60px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .5s;
}

#web-dev-tag {
    margin-left: 80px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .6s;
}

#header-tag-close {
    margin-left: 60px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .7s;
}

#main-tag {
    margin-left: 60px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .8s;
}

#p-tag {
    margin-left: 80px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: .9s;
}

#main-tag-close {
    margin-left: 60px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
}

#body-tag-close {
    margin-left: 40px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1.1s;
}

#html-tag-close {
    margin-left: 20px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1.2s;
}

#widgets {
    margin-top: 1rem;
    flex: 1 1 240px;
    display: flex;
    flex-wrap: wrap;
}

.widget {
    margin: 1rem;
    flex: 1 1 250px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: drop-in .5s;
    animation-fill-mode: forwards;
    transform: translateY(-10%);
    opacity: 0;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
    border-radius: 36px;
    transition: box-shadow .5s;
}

#one {
    animation-delay: .1s;
}
#two {
    animation-delay: .2s;
}
#three {
    animation-delay: .3s;
}
#four {
    animation-delay: .4s;
}
#five {
    animation-delay: .5s;
}
#six {
    animation-delay: .6s;
}

@keyframes drop-in {
    from { 
        transform: translateY(-10%);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

h2 {
    font-family: var(--font1);
    color: white;
    font-size: 40px;
    font-weight: 200;
    transform: translateY(-120%);
    transition: transform ease .5s;
}

.widget-icons {
    width: 120px;
    height: auto;
    transform: translateY(40%);
    opacity: .08;
    transition: opacity ease .5s;
    transition: transform ease .5s;
}

.arrow {
    width: 55px;
    margin-left: 0;
    filter: brightness(150%);
}

.widget:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 7px 7px 40px black;
    cursor: pointer;
}
.widget:hover .arrow {
    animation: point 1s ease infinite;
}
.widget:hover .widget-icons {
    transform: translateY(0);
    opacity: 1;
}
.widget:hover h2 {
    transform: translateY(0);
    transform: scale(120%);
}

#three:hover {
    cursor: url(../images/musiccursor.png), auto;
}


@keyframes point {
    0% {
        margin-left: 0;
    } 50% {
        margin-left: 50px
    } 100% {
        margin-left: 0;
    }
}

@media only screen and (min-width: 560px) {
    #widgets {
        flex: 1 0 460px;
    }
}

@media only screen and (min-width: 805px) {
    header {
        position: sticky;
        top: 0;
        height: 90vh;
    }

    #html-tag {
        opacity: .05;
    }
    
    #head-tag {
        opacity: .05;
    }
    
    #title {
        opacity: .06;
    }
    
    #head-tag-close {
        opacity: .07;
    }
    
    #body-tag {
        opacity: .08;
    }
    
    #header-tag {
        opacity: .09;
    }
    
    #web-dev-tag {
        opacity: .1;
    }
    
    #header-tag-close {
        opacity: .1;
    }
    
    #main-tag {
        opacity: .09;
    }
    
    #p-tag {
        opacity: .08;
    }
    
    #main-tag-close {
        opacity: .08;
    }
    
    #body-tag-close {
        opacity: .07;
    }
    
    #html-tag-close {
        opacity: .05;
    }

    header:hover #html-tag {
        opacity: 1;
    }
    
    header:hover #head-tag {
        opacity: 1;
    }
    
    header:hover #title {
        opacity: 1;
    }
    
    header:hover #head-tag-close {
        opacity: 1;
    }
    
    header:hover #body-tag {
        opacity: 1;
    }
    
    header:hover #header-tag {
        opacity: 1;
    }
    
    header:hover #web-dev-tag {
        opacity: 1;
    }
    
    header:hover #header-tag-close {
        opacity: 1;
    }
    
    header:hover #main-tag {
        opacity: 1;
    }
    
    header:hover #p-tag {
        opacity: 1;
    }
    
    header:hover #main-tag-close {
        opacity: 1;
    }
    
    header:hover #body-tag-close {
        opacity: 1;
    }
    
    header:hover #html-tag-close {
        opacity: 1;
    }
}

@media only screen and (min-width: 965px) {
    #widgets {
        flex: 1 0 532.25px;
    }
}

@media only screen and (min-width: 1150px) {
    #widgets {
        flex: 1 0 770px;
    }
}

@media only screen and (min-width: 1318px) {
    #widgets {
        max-height: 770px;
    }
}